
# Database
DB_USERNAME=database-user
DB_PASSWORD=database-password
DB_NAME=database-name
DB_PORT=5432

# HTTP server
APP_PORT=8000
SECRET_KEY=jwt-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10
WORKERS=4

# RE monitor
MAX_REQUESTS=10
CLEANUP_INTERVAL_SECONDS=10

# HTTP server Logs
MAX_LOG_FILE_SIZE=10 MB
LOG_RETENTION_PERIOD=30 days

# Web3/smart contract
CONTRACT_NAME=ContractName
SCALE=100000000

## Credenziali (indirizzo, chiave privata) dell'account.
PROD_ACCOUNT=0xaccount-address
PROD_PRIVATE_KEY=0xprivate-key

# Indirizzo HTTP del primo nodo Besu, da modificare solo se cambia il nome/porta del container
RPC_URL=http://besu-node-1:8545

## FACOLTATIVO: Credenziali (indirizzo, chiave privata) dell'account USATO SOLO IN FASE DI TESTING. 
## Usare SEMPRE una coppia proveniente dagli account di test di hardhat.
# DEV_ACCOUNT=0xhardhat-test-account-address
# DEV_PRIVATE_KEY=0xhardhat-test-private-key

