
# Database
DB_USERNAME=database-username
DB_PASSWORD=database-password
DB_NAME=database
DB_PORT=5432

# HTTP server
APP_PORT=8000
SECRET_KEY=jwt-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10

# RE monitor
MAX_REQUESTS=10
CLEANUP_INTERVAL_SECONDS=10

# HTTP server Logs
MAX_LOG_FILE_SIZE=10 MB
LOG_RETENTION_PERIOD=30 days

# Web3/smart contract
CONTRACT_NAME=Oracle
SCALE=100000000

# Indirizzo HTTP del primo nodo Besu, da modificare solo se cambia il nome/porta del container
RPC_URL=http://172.20.0.11:8545

# Chain ID della blockchain. 
NETWORK_ID=1337

# Probabilità a priori iniziale
INITIAL_PRIOR=0.5

# Verosimiglianze iniziali delle prove
INITIAL_TRUE_LIKELIHOOD=0.5
INITIAL_FALSE_LIKELIHOOD=0.5

## Credenziali (indirizzo, chiave privata) dell'account.
PRIVATE_KEY=0xprivate-key
W3_ACCOUNT=0xaccount-address

