
# Database
DB_USERNAME=database-user
DB_PASSWORD=database-password
DB_NAME=database-name
DB_PORT=5432

# HTTP server
APP_PORT=8000
SECRET_KEY=jwt-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10
WORKERS=4

# RE monitor
MAX_REQUESTS=10
CLEANUP_INTERVAL_SECONDS=10

# HTTP server Logs
LOG_PATH=/var/log
MAX_LOG_FILE_SIZE=10 MB
LOG_RETENTION_PERIOD=30 days

# Web3/smart contract
CONTRACT_NAME=ContractName
PRIVATE_KEY=0xprivatekey
W3_ACCOUNT=0xaccountaddress
SCALE=100000000

