<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benvenuto nel Nostro Portale</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/functions.js"></script>
</head>
<body>

    <!-- Menu di Navigazione -->
    <nav class="navbar">
        <div class="nav-container">
            <a href="#" class="logo"><img src="images/logo.png"></a>
            
            <!--<ul class="nav-menu">
                <li class="nav-item"><a href="/dashboard/utente" class="active">Home</a></li>
            <li class="nav-item"><a href="/utente/prenota">Prenota</a></li>
            <li class="nav-item"><a href="/utente/visite">Visualizza</a></li>
            </ul>-->
            <div class="col-md-2">
                <button onclick="logout()">Logout</button>
            </div>
        </div>
    </nav>

    <!-- Contenuto della Pagina -->
    <main class="main-container">
        <section class="welcome-section">
            <h1>Benvenuto admin!</h1>
            <p>Cosa vuoi fare?</p>
            
            <!-- Azioni rapide collegate al menu -->
            <div class="cta-buttons">
                <a href="/utente/prenota" class="btn btn-primary">Prenota</a>
                <a href="/dashboard/staff" class="btn btn-primary">Carica prove</a>
            </div>
        </section>
    </main>

</body>
</html>