<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Authority</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/functions.js"></script>
</head>
<body>

<nav class="navbar">
    <div class="nav-container">
        <a href="#" class="logo"><img src="/images/logo.png" style="height: 40px; vertical-align: middle;" alt="Logo"></a>
        <ul class="nav-menu">
            <li class="nav-item"><a href="/dashboard/authority" class="active">Home</a></li>
        </ul>
        <div class="col-md-2">
            <button onclick="logout()">Logout</button>
        </div>
    </div>
</nav>

<main class="main-container" style="max-width: 1200px;">
    <h1>Pannello di Controllo - Authority <span class="badge-auth">Authority</span></h1>

    <div class="table-container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Data/Ora</th>
                    <th>Medico (ID)</th>
                    <th>Paziente (ID)</th>
                    <th>Confermata</th>
                    <th>Probabilità</th>
                    <th>Prove Attuali</th>
                    <th>Intervento Authority</th>
                </tr>
            </thead>
            <tbody id="authorityBody">
            </tbody>
        </table>
    </div>

    <div class="probability-container" style="margin: 1rem 0 0 0">
        <div class="table-container">
            <table class="styled-table">
                <tr>
                    <td>Probabilità a priori delle visite</td>
                    <td id="prior-value"></td>
                    <td>
                        <input type="text" id="prior-new-value" placeholder="Nuovo valore">
                    </td>
                    <td>
                        <button class="btn-supervise" onclick="setPrior()">Imposta valore</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="table-container">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Categoria prova</th>
                        <th>Valore per visita avvenuta</th>
                        <th>Valore per visita non avvenuta</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody id="likelihoods-body">
                </tbody>
            </table>
        </div>
    </div>

    <section class="welcome-section">
            <h1>Benvenuto admin!</h1>
            <p>Cosa vuoi fare?</p>
            
            <!-- Azioni rapide collegate al menu -->
            <div class="cta-buttons">
                <a href="/utente/prenota" class="btn btn-primary">Prenota</a>
                <a href="/dashboard/staff" class="btn btn-primary">Carica prove</a>
            </div>
        </section>
</main>

<script>
const initialLikelihoodTableBody = `
                    <tr>
                        <td>
                            <div id="add-likelihood-container">
                                <select id="likelihood-type">
                                    <option value="sintomi">Sintomi</option>
                                    <option value="attrezzatura">Attrezzatura</option>
                                    <option value="prescrizione">Prescrizione</option>
                                    <option value="gps">GPS</option>
                                    <option value="conferma">Conferma (Certificato)</option>
                                </select>
                                <input type="text" id="likelihood-ptrue" placeholder="Valore per visita avvenuta">
                                <input type="text" id="likelihood-pfalse" placeholder="Valore per visita non avvenuta">
                                <button class="btn-supervise" style="width: 100%; background-color:#27ae60;" onclick="addLikelihood()">Aggiungi verosimiglianza</button>
                            </div>
                        </td>
                    </tr>
`;

document.addEventListener('DOMContentLoaded', caricaTutteLeVisite);
document.addEventListener('DOMContentLoaded', caricaVerosimiglianze);

async function addLikelihood() {
    try {
        // likelihood-type
        // likelihood-ptrue/pfalse

        let tipo = document.getElementById('likelihood-type').value;
        let ptrue = document.getElementById('likelihood-ptrue').value;
        let pfalse = document.getElementById('likelihood-pfalse').value;
        let response = await fetch(`/admin/probabilita/prova`, {
            method: 'POST', 
            credentials: 'same-origin', 
            headers: { 'Content-Type': 'application/json' }, 
            body: JSON.stringify({
                tipo: tipo, 
                ptrue: parseFloat(ptrue), 
                pfalse: parseFloat(pfalse)
            })
        });
        if(!response.ok) throw new Error("Errore nell'invio della verosimiglianza");
//        await caricaVerosimiglianze();
        location.reload();
    }
    catch(err) {
        console.log(err);
        alert("Errore: " + err);
    }
}

async function caricaTutteLeVisite() {
    try {
        const response = await fetch('/admin/allvisits', {
            credentials: 'same-origin'
        });
        
        if (!response.ok) throw new Error("Errore recupero visite globali");
        
        const visite = await response.json();
        const body = document.getElementById('authorityBody');
        body.innerHTML = '';

        visite.forEach(v => {
            const row = document.createElement('tr');
            const dataFormattata = new Date(v.timestamp).toLocaleString('it-IT');
            const proveHtml = v.prove && v.prove.length > 0 ? v.prove.map(p => p.tipo).join(', ') : '<i>Nessuna</i>';

            row.innerHTML = `
                <td>${dataFormattata}</td>
                <td style="font-size: 0.8rem; color:#555;">${v.medico || 'Non assegnato'}</td>
                <td style="font-size: 0.8rem; color:#555;">${v.paziente}</td>
                <td style="font-size: 0.8rem; color:#555;">${v.confermata}</td>
                <td style="font-size: 0.8rem; color:#555;">${v.probabilita}</td>
                <td>${proveHtml}</td>
                <td>
                    <button class="btn-supervise" onclick="togglePanel('${v.id}')">Invia Prova</button>
                     <div id="panel-${v.id}" class="control-panel">
                        <select id="tipo-${v.id}">
                            <option value="sintomi">Sintomi</option>
                            <option value="attrezzatura">Attrezzatura</option>
                            <option value="prescrizione">Prescrizione</option>
                            <option value="gps">GPS</option>
                            <option value="conferma">Conferma (Certificato)</option>
                        </select>
                        <input type="checkbox" id="valore-${v.id}" checked="checked">
                        <button class="btn-supervise" style="width: 100%; background-color:#27ae60;" onclick="forzaProva('${v.id}')">Esegui Iniezione</button>
                    </div>
                </td>
            `;
            body.appendChild(row);
        });
    } catch (err) {
        document.getElementById('authorityBody').innerHTML = '<tr><td colspan="5" style="text-align:center; color:red;">Qualcosa è andato storto</td></tr>';
    }
}

async function caricaVerosimiglianze() {
    try {
        let response = await fetch('/admin/probabilita/priori', {
            credentials: 'same-origin'
        });

        if(!response.ok) throw new Error("Errore nel recupero della probabilità");

        let content = await response.json();
        document.getElementById('prior-value').innerHTML = `${content.value}`;
        response = await fetch('/admin/probabilita/prove', {
            credentials: 'same-origin'
        });
        
        if (!response.ok) throw new Error("Errore recupero verosimiglianze");
        
        const prove = await response.json();
        const body = document.getElementById('likelihoods-body');
        body.innerHTML = initialLikelihoodTableBody;
        prove.forEach(p => {
            const row = document.createElement('tr');
            row.innerHTML = `
                <td>${p.tipo}</td>
                <td id="${p.tipo}-true" style="font-size: 0.8rem; color:#555;">${p.ptrue}</td>
                <td id="${p.tipo}-false" style="font-size: 0.8rem; color:#555;">${p.pfalse}</td>
                <td>
                    <button class="btn-supervise" onclick="togglePanel('${p.tipo}')">Cambia valore</button>
                    
                    <div id="panel-${p.tipo}" class="control-panel">
                        <input type="text" id="valore-${p.tipo}-ptrue" placeholder="Nuovo valore per visita avvenuta">
                        <input type="text" id="valore-${p.tipo}-pfalse" placeholder="Nuovo valore per visita non avvenuta">
                        <button class="btn-supervise" style="width: 100%; background-color:#27ae60;" onclick="setLikelihood('${p.tipo}')">Imposta</button>
                    </div>
                </td>
            `;
            body.appendChild(row);
        });
    } catch (err) {
        document.getElementById('probability-body').innerHTML = '<tr><td colspan="5" style="text-align:center; color:red;">Qualcosa è andato storto</td></tr>';
    }
}

async function setPrior() {
    try {
        let response = await fetch('/admin/probabilita/priori', {
            method: 'POST', 
            credentials: 'same-origin', 
            headers: { 'Content-Type': 'application/json' }, 
            body: JSON.stringify({
                value: parseFloat(document.getElementById('prior-new-value').value)
            })
        });

        if(!response.ok) throw new Error("Errore nell'invio del nuovo valore");
/*
        response = await fetch('/admin/probabilita/priori', {
            credentials: 'same-origin'
        });

        if(!response.ok) throw new Error("Errore nel recupero della probabilità");

        let content = await response.json();
        document.getElementById('prior-value').innerHTML = `${content.value}`;
*/
        location.reload();
    }
    catch(err) {
        console.error(err);
        alert('Errore: ' + err);
    }
}

async function setLikelihood(tipo) {
    try {
        console.log('tipo: ', tipo, '; ptrue: ', document.getElementById(`valore-${tipo}-ptrue`).value, '; pfalse: ', document.getElementById(`valore-${tipo}-pfalse`).value);
        let response = await fetch(`/admin/probabilita/prova`, {
            method: 'POST', 
            credentials: 'same-origin', 
            headers: { 'Content-Type': 'application/json' }, 
            body: JSON.stringify({
                tipo: tipo, 
                ptrue: parseFloat(
                    document.getElementById(`valore-${tipo}-ptrue`).value
                ), 
                pfalse: parseFloat(
                    document.getElementById(`valore-${tipo}-pfalse`).value
                )
            })
        });

        if(!response.ok) throw new Error("Errore nell'invio dei valori");
/*
        response = await fetch(`/admin/probabilita/${tipo}`, {
            credentials: 'same-origin'
        });

        if(!response.ok) throw new Error("Errore nel recupero dei valori");

        let content = await response.json();
        document.getElementById(`${tipo}-true`).innerHTML = `${content.ptrue}`;
        document.getElementById(`${tipo}-false`).innerHTML = `${content.pfalse}`;
*/
        location.reload();
    }
    catch(err) {
        console.error(err);
        alert('Errore: ' + err);
    }
}

function togglePanel(id) {
    const panel = document.getElementById(`panel-${id}`);
    panel.style.display = panel.style.display === 'block' ? 'none' : 'block';
}

async function forzaProva(id) {
    const tipo = document.getElementById(`tipo-${id}`).value;
    const valore = document.getElementById(`valore-${id}`).checked;

    console.log('valore: ', valore);

    try {
        const response = await fetch(`/admin/addevidence/${id}`, {
            method: 'POST',
            credentials: 'same-origin', 
            headers: { 
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ tipo: tipo, valore: valore })
        });

        if (response.ok) {
            alert("Prova inserita con successo nel sistema!");
            caricaTutteLeVisite();
        } else {
            const errData = await response.json();
            alert("Errore: " + (errData.detail || "Operazione non consentita"));
        }
    } catch (err) {
        console.error(err);
    }
}
</script>

</body>
</html>
