<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina errore</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <!-- Menu di Navigazione -->
    <nav class="navbar">
        <div class="nav-container">
            <a href="#" class="logo"><img src="images/logo.png"></a>
        </div>
    </nav>

    <!-- Contenuto della Pagina -->
    <main class="main-container">
        <section class="welcome-section">
            <h1>Qualcosa è andato storto :/</h1>
            {{content.detail}}
            <!-- Azioni rapide collegate al menu -->
            
        </section>
    </main>

</body>
</html>